header {
    width: 100%;
    height: 20%;
    display: flex;
    padding-top: 10%;
}

body {
    margin: 0px;
    background-color: #101426;
    font-family: open-sans, sans-serif;
    color: #8F9BB3;
}

.avatar-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: -16px;
}

span {
    color: #FFAA00;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    margin-left: auto;
    margin-bottom: -16px;
}

.personal-info {
    padding-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.about-me {
    height: 56px;
}

main {
    display: flex;
    padding-top: 6%;
    padding-right: 2%;
}

.content-left {
    width: 40%;
    padding-left: 4%;
}

.content-right {
    width: 60%;
    padding-left: 4%;
}

.contacts {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.phone, .email {
    margin-right: 8%;
}

.content-bottom {
    width: 40%;
}

.contact-information-left {
    height: 82.56px;
    display: flex;
    justify-content: flex-end;
}

.general-information-left {
    height: 56px;
    display: flex;
    justify-content: flex-end;
}

.skills {
    padding-top: 16px;
    height: 120px;
}

.skills-left {
    height: 106px;
    display: flex;
    justify-content: flex-end;
    padding-top: 36px;
}

.tools-left {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-top: 22px;
}

.tools-right {
    padding-top: 12px;
    height: 100px;
}

.code-left {
    display: flex;
    justify-content: flex-end;
    height: 380px;
}

.code-right {
    padding-top: 16px;
}

.languages-left {
    display: flex;
    justify-content: flex-end;
}

footer {
    padding-top: 32px;
}

.footer-link {
    width: 80px;
    height: 50px;
    margin-right: 8px;
}

.rsschool {
    background: url(./pics/download.svg) no-repeat;
    background-size: contain;
}

.linkedin {
    background: url(./pics/linkedinNew.svg) no-repeat;
    background-size: contain;
}

.github {
    background: url(./pics/github-icon.svg) no-repeat;
    background-size: contain;
}

.block-links-footer {
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 24px;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.par-about-me {
    margin: 0;
}

ul {
    padding: 12px;
    margin-top: 8px;
}

#video_itself {
    max-width: 1920px;
    height: auto;
}

.video_controls {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
    height: 24px;
}

button {
    max-width: 30px;
    border: none;
    padding: 0;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    color: #0a89f8;
    text-align: center;
    line-height: 1;
    font-size: 24px;
}

.video_player {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1920px;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    cursor: pointer;
    background: #0a89f8;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    height: 4px;
    width: 4px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: whitesmoke;
    margin-top: -1.2px;
}

.video {
    display: block;
}

.volume {
    width: 15%;
}

.progress_bar {
    width: 65%;
}

.MyClass body {
    padding: 0%;
}