header {
    height: 20%;
    display: flex;
    padding-top: 6%;
    margin-bottom: 32px;
}

body {
    margin: 0px;
    background-color: #101426;
    font-family: open-sans, sans-serif;
    color: #8F9BB3;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

.avatar-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: -16px;
}

span {
    color: #FFAA00;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    margin-left: auto;
    margin-bottom: -16px;
}

.personal-info {
    padding-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    display: block;
    padding: 2%;
}

.contacts {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 90px;
}

.content-bottom {
    width: 40%;
}

footer {
    padding-top: 32px;
}

.footer-link {
    width: 80px;
    height: 50px;
    margin-right: 8px;
}

.rsschool {
    background: url(./pics/download.svg) no-repeat;
    background-size: contain;
}

.linkedin {
    background: url(./pics/linkedinNew.svg) no-repeat;
    background-size: contain;
}

.github {
    background: url(./pics/github-icon.svg) no-repeat;
    background-size: contain;
}

.block-links-footer {
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 24px;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding-left: 8px;
    margin-top: 0;
}

#video_itself {
    max-width: 1920px;
    height: auto;
}

.video_controls {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
    height: 24px;
}

button {
    max-width: 30px;
    border: none;
    padding: 0;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    color: #0a89f8;
    text-align: center;
    line-height: 1;
    font-size: 24px;
}

.video_player {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1920px;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 12px;
    cursor: pointer;
    background: #0a89f8;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: whitesmoke;
    margin-top: -1.2px;
}

.video {
    display: block;
}

.volume {
    width: 15%;
}

.progress_bar {
    width: 65%;
}

.MyClass body {
    padding: 0%;
}

@media (max-width:1270px) {
    body {
        background-color: red;
    }
    .content-left {
        width: 20%;
        /* padding-left: 4%; */
    }
    .content-right {
        width: 80%;
        padding-left: 4%;
    }
}

@media (max-width:1100px) {
    body {
        background-color: green;
    }
    .content-left {
        width: 30%;
    }
    .content-right {
        width: 70%;
        padding-left: 4%;
    }
    .code-left {
        display: flex;
        justify-content: flex-end;
        height: 400px;
    }
}

@media (max-width:865px) {
    body {
        background-color: yellow;
    }
    h1, h2 {
        margin: 0;
        font-size: 18px;
    }
    main {
        display: block;
    }
    .content-left {
        width: 100%;
    }
    .content-right {
        width: 100%;
        padding-left: 4%;
    }
    .code-left {
        display: flex;
        justify-content: flex-end;
        height: 400px;
    }
    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid;
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: cover;
        margin-left: auto;
        margin-bottom: -16px;
    }
    figure {
        margin-left: 10px;
        margin-right: 10px;
    }
}